$gray: #c0c0c0;
$m-color: #112e53;
$sub-color: #0b7eb8;

// ----使い方-----------------------
// background-color: $gray;

$font-m1: "M PLUS 1p", sans-serif;
$font-yu: "Yu Gothic Medium";
$font-fot: "Noto Serif JP", serif;
$font-min: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;

$font-FOT: "Noto Serif JP", serif;
$font-m-plus: "m-plus-1p", sans-serif;
$font-dunbar: "dunbar-low", sans-serif;
$font-klee: fot-klee-pro, sans-serif;
