
@function fontSize-mobile($minFont) {
     $minWidth:480;
     $maxWidth:1020;
     $minFontSize:$minFont*1px;
     $fontVw:round($minFont/$minWidth*100*1000)/1000;
     $maxFontSize:round($maxWidth*($fontVw/100))*1px;
     @return clamp(#{$minFontSize},#{$fontVw}vw,#{$maxFontSize});
   }




// ------pcからタブレットまでのレスポンシブル--------
// ------文字の大きさを設定する--------

@function fontSize-pc($maxFont) {
    $minWidth: 1020;
    $maxWidth: 1920;
    $maxFontSize: $maxFont * 1px;
    $fontVw: round($maxFont/$maxWidth * 100 * 1000) / 1000;
    $minFontSize: round($minWidth * ($fontVw / 100)) * 1px;
    @return clamp(#{$minFontSize}, #{$fontVw}vw, #{$maxFontSize});
  }



  
// ----使い方-----------------------
  // h1 {
  //   font-size: fontSize-pc(36); // 最大フォントサイズが36pxの場合
  // }