@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0vw;
  white-space: nowrap;
}

html {
  overflow-y: scroll;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: fot-matisse-pron, sans-serif;
  font-style: normal;
  background: #fff;
  color: #5C5A5A;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo, Verdana, sans-serif", " 筑紫A丸ゴシック Std" "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  height: auto;
  margin: 0;
  font-feature-settings: "palt" 1;
  font-size: 16px;
}
body a,
body a:visited,
body a:hover,
body a:active {
  color: inherit;
  text-decoration: none;
}
body .container {
  width: 100vw;
}
body h1 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #5C5A5A;
  font-weight: bold;
  font-feature-settings: "palt" 1;
  letter-spacing: -1px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body h2 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
body h3 {
  font-size: clamp(18px, 1.67vw, 32px);
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000000;
  font-weight: bold;
  font-feature-settings: "palt" 1;
  letter-spacing: -1px;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-feature-settings: "palt" 1;
  color: #5C5A5A;
  white-space: initial;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_70 {
  margin-top: 70px;
}

header {
  box-shadow: 0px 6px 7px 0px rgba(178, 178, 178, 0.45);
}

.inner {
  position: relative;
  width: 98vw;
  box-sizing: border-box;
  margin: auto;
  height: 125px;
  display: flex;
  align-items: center;
}

header h1 {
  width: 249px;
  height: 60px;
  padding-left: 2vw;
}

nav {
  width: 80%;
  height: 80px;
  z-index: 1;
}

nav ul {
  text-align: right;
  padding-right: 2vw;
}

nav li {
  display: inline-block;
  position: relative;
  height: inherit;
  padding-right: 2vw;
}

nav li a {
  display: table;
  padding: 3px 15px 3px 0;
  /* padding: 3px 10px; */
  vertical-align: middle;
  font-size: 17px;
  /* font-size: 15px; */
  font-weight: bold;
  text-align: center;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 1px;
  color: #112e53 !important;
}

nav li img {
  width: auto;
}

.header_bottom {
  display: block;
  line-height: 5px;
  font-size: 10px;
  margin-top: 8px;
}

.nav_parent {
  position: relative;
}

.nav_child {
  position: absolute;
  top: 5px;
}

.child01 {
  left: 90px;
}

.child02 {
  left: 162px;
}

.top_title {
  width: 100%;
  position: relative;
}

.top_title_img {
  width: 100%;
}

.top_title_text {
  position: absolute;
  top: 26%;
  left: 15%;
  color: #112E53;
}
.top_title_text h1 {
  font-size: 35px;
}

.title_lg {
  font-size: 80px;
}

.title_md {
  font-size: 40px;
}

.top_title_info {
  position: absolute;
  width: 802px;
  height: 135px;
  bottom: 31%;
  right: -16px;
}

.top_sub {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #0b7eb8;
  line-height: 1;
  width: 10px;
  height: 10px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
}

main .recruit_title img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  main .recruit_title img {
    object-fit: cover;
    height: 150px;
  }
}
main .recruit_main {
  width: 66.6666666667vw;
  display: flex;
  margin: auto;
  margin-top: 93px;
}
@media screen and (max-width: 1200px) {
  main .recruit_main {
    flex-direction: column;
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_main {
    width: 90vw;
  }
}
main .recruit_main .recruit_left {
  width: 37.5vw;
  margin-top: 79px;
  margin-right: 12.1354166667vw;
}
@media screen and (max-width: 1200px) {
  main .recruit_main .recruit_left {
    width: 100%;
  }
}
main .recruit_main .recruit_left img {
  margin-bottom: 58px;
}
main .recruit_main .recruit_left h1 {
  font-size: 20px;
  background-color: #f2f4fb;
  padding: 23px;
  padding-bottom: 44px;
  padding-right: 58px;
  border-radius: 8px;
  color: #112e53;
  width: fit-content;
  font-family: "FOT-クレー ProN", serif;
  margin-left: -23px;
  margin-top: -11px;
  line-height: 1.6;
  letter-spacing: 3px;
}
@media screen and (max-width: 1200px) {
  main .recruit_main .recruit_left h1 {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_main .recruit_left h1 {
    font-size: 16px;
  }
}
main .recruit_main .recruit_right {
  position: relative;
  width: 37.1875vw;
}
@media screen and (max-width: 1200px) {
  main .recruit_main .recruit_right {
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
}
main .recruit_main .recruit_right img {
  width: 30vw;
  min-width: 350px;
}
@media screen and (max-width: 1200px) {
  main .recruit_main .recruit_right img {
    width: 100%;
    margin: auto;
  }
}
main .back_img {
  width: 100%;
  z-index: -1;
  margin-top: -132px;
  margin-left: -54px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  main .back_img {
    margin-top: -50px;
  }
}
@media screen and (max-width: 768px) {
  main .back_img {
    margin-top: 0px;
  }
}
main .recruit_select {
  margin: auto;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  width: 65vw;
  position: relative;
}
@media screen and (max-width: 1200px) {
  main .recruit_select {
    width: 90%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .doctor {
    width: 50%;
  }
}
main .recruit_select .doctor p {
  font-size: 16px;
  color: #0b7eb8;
  border: solid 1px #0b7eb8;
  padding: 11px 0px 15px 0px;
  width: 14.5833333333vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1200px) {
  main .recruit_select .doctor p {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .doctor p {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .nurse {
    width: 50%;
  }
}
main .recruit_select .nurse p {
  font-size: 16px;
  color: #0b7eb8;
  border: solid 1px #0b7eb8;
  padding: 11px 0px 15px 0px;
  width: 14.5833333333vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1200px) {
  main .recruit_select .nurse p {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .nurse p {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .medicalclerk {
    width: 50%;
  }
}
main .recruit_select .medicalclerk p {
  font-size: 16px;
  color: #0b7eb8;
  border: solid 1px #0b7eb8;
  padding: 11px 0px 15px 0px;
  width: 14.5833333333vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1200px) {
  main .recruit_select .medicalclerk p {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .medicalclerk p {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .caremanager {
    width: 50%;
  }
}
main .recruit_select .caremanager p {
  font-size: 16px;
  color: #0b7eb8;
  border: solid 1px #0b7eb8;
  padding: 11px 0px 15px 0px;
  width: 14.5833333333vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1200px) {
  main .recruit_select .caremanager p {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_select .caremanager p {
    width: 40vw;
  }
}
main .recruit_occupation {
  margin: auto;
  margin-top: 107px;
  width: 66.4583333333vw;
}
@media screen and (max-width: 1200px) {
  main .recruit_occupation {
    width: 90%;
  }
}
main .recruit_occupation .recruit_occupation_box.doctor .title {
  border-bottom: 2px solid #112e53;
  margin-bottom: 26px;
  padding-left: 10px;
}
main .recruit_occupation .recruit_occupation_box.doctor .title h2 {
  font-size: 30px;
  color: #112e53;
  font-family: "Mplus1p", sans-serif;
}
main .recruit_occupation .recruit_occupation_box.doctor .title p {
  font-size: 18px;
  color: #112e53;
  margin-top: 0;
}
main .recruit_occupation table {
  border: 1px solid #0b7eb8;
  border-collapse: collapse;
  width: 100%;
}
main .recruit_occupation table td:first-child {
  color: #0b7eb8;
  background-color: #f2f4fb;
  width: 351px;
  padding-left: 37px;
  font-family: "Mplus1p", sans-serif;
}
@media screen and (max-width: 768px) {
  main .recruit_occupation table td:first-child {
    padding-left: 15px;
    width: 100px;
  }
}
main .recruit_occupation table td:nth-child(2) {
  padding-left: 50px;
  font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", "HiraMinProN-W3", "Hiragino Mincho ProN", "HG明朝E", serif;
  color: #000;
}
@media screen and (max-width: 1200px) {
  main .recruit_occupation table td:nth-child(2) {
    white-space: normal;
  }
}
@media screen and (max-width: 768px) {
  main .recruit_occupation table td:nth-child(2) {
    padding-left: 15px;
    white-space: normal;
  }
}
main .recruit_occupation table table,
main .recruit_occupation table th,
main .recruit_occupation table td {
  border: 1px solid #0b7eb8;
}
main .recruit_occupation table tr td {
  height: 63px;
}
main .recruit_occupation table .big_table {
  height: 122px;
}
main .recruit_occupation .form {
  background-color: #54a5cd;
  width: 300px;
  margin: auto;
  margin-top: 56px;
  border-radius: 3px;
  margin-bottom: 120px;
}
main .recruit_occupation .form a {
  display: flex;
  align-items: center;
}
main .recruit_occupation .form .back {
  background-color: #0b7eb8; /* 追加した行 */
  padding: 23px 28px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
main .recruit_occupation .form .dli-chevron-round-right {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  position: relative;
  width: 12px;
  height: 12px;
  transform: translateX(-25%) rotate(45deg);
  background-color: #0b7eb8; /* 追加した行 */
}
main .recruit_occupation .form .dli-chevron-round-right::before,
main .recruit_occupation .form .dli-chevron-round-right::after {
  content: "";
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}
main .recruit_occupation .form .dli-chevron-round-right::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}
main .recruit_occupation .form .dli-chevron-round-right::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}
main .recruit_occupation .form p {
  color: #fff;
  background-color: #54a5cd;
  margin: 0;
  padding-left: 44px;
  letter-spacing: 1px;
}

main .clinic_title {
  margin-bottom: 8.0729166667vw;
}
main .clinic_title img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  main .clinic_title img {
    object-fit: cover;
    height: 150px;
  }
}
main .clinic_main {
  width: 66.6666666667vw;
  margin: auto;
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  main .clinic_main {
    width: 90%;
  }
}
main .clinic_main .title {
  margin-bottom: 94px;
}
main .clinic_main .title p {
  font-size: clamp(9px, 0.938vw, 18px);
  color: #112e53;
  margin: 0;
  font-family: "Mplus1p", sans-serif;
  letter-spacing: 3px;
  font-feature-settings: "palt";
}
@media screen and (max-width: 1200px) {
  main .clinic_main .title p {
    font-size: 12px;
  }
}
main .clinic_main .title h1 {
  margin-top: 0;
  font-size: clamp(20px, 2.083vw, 40px);
  padding-bottom: 33px;
  border-bottom: 1px solid #112e53;
  color: #112e53;
  font-family: "Mplus1p", sans-serif;
  font-feature-settings: "palt";
}
@media screen and (max-width: 1200px) {
  main .clinic_main .title h1 {
    font-size: 28px;
  }
}
main .clinic_main .clinic_feature {
  display: flex;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature {
    flex-direction: column;
  }
}
main .clinic_main .clinic_feature .clinic_left {
  margin-right: 94px;
}
main .clinic_main .clinic_feature .clinic_left img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature .clinic_left {
    margin: inherit;
  }
}
main .clinic_main .clinic_feature .clinic_right {
  width: 36.4583333333vw;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature .clinic_right {
    width: 100%;
    margin: auto;
    margin-top: 40px;
  }
}
main .clinic_main .clinic_feature .clinic_right h2 {
  font-size: clamp(14px, 1.458vw, 28px);
  color: #112e53;
  font-family: "Mplus1p", sans-serif;
  font-feature-settings: "palt";
  margin-left: -8px;
  margin-top: -7px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature .clinic_right h2 {
    font-size: 20px;
  }
}
main .clinic_main .clinic_feature .clinic_right p {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
  font-feature-settings: "palt";
  margin-left: 25px;
  letter-spacing: 5px;
  margin-top: 26px;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature .clinic_right p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1020px) {
  main .clinic_main .clinic_feature .clinic_right p {
    margin-left: 0;
  }
}
main .clinic_main .clinic_feature .clinic_right table {
  border-collapse: collapse;
  width: 92%;
  margin-top: 34px;
}
@media screen and (max-width: 1020px) {
  main .clinic_main .clinic_feature .clinic_right table {
    width: 80%;
  }
}
main .clinic_main .clinic_feature .clinic_right table tr:first-child td {
  border-top: 1px solid #94aab4;
}
main .clinic_main .clinic_feature .clinic_right table tr .c_title {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table tr .c_circle {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table tr td {
  border: none;
  border-bottom: 1px solid #94aab4;
  padding: 17px 12px;
  text-align: center;
  font-size: clamp(9px, 0.938vw, 18px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table td:first-child {
  padding: 18px;
  letter-spacing: 1px;
}
main .clinic_main .clinic_feature .clinic_right .holiday {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 50px;
  letter-spacing: 3px;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_feature .clinic_right .holiday {
    margin-left: inherit;
  }
}
main .clinic_main .clinic_tel {
  margin-top: 50px;
}
main .clinic_main .clinic_tel p {
  font-size: 23px !important;
  color: #4b7282;
  font-feature-settings: "palt";
  letter-spacing: 4px !important;
  line-height: 1.6 !important;
}
main .clinic_main .clinic_map {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  width: 50vw;
}
@media screen and (max-width: 1200px) {
  main .clinic_main .clinic_map {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
}
main .clinic_main .clinic_map p {
  margin-right: 53px;
  margin-top: -9px !important;
  letter-spacing: -1px !important;
}/*# sourceMappingURL=index.css.map */