@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0vw;
  white-space: nowrap;
}

html {
  overflow-y: scroll;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: fot-matisse-pron, sans-serif;
  font-style: normal;
  background: #fff;
  color: #5C5A5A;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo, Verdana, sans-serif", " 筑紫A丸ゴシック Std" "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  height: auto;
  margin: 0;
  font-feature-settings: "palt" 1;
  font-size: 16px;
}
body a,
body a:visited,
body a:hover,
body a:active {
  color: inherit;
  text-decoration: none;
}
body .container {
  width: 100vw;
}
body h1 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #5C5A5A;
  font-weight: bold;
  font-feature-settings: "palt" 1;
  letter-spacing: -1px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body h2 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
body h3 {
  font-size: clamp(18px, 1.67vw, 32px);
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000000;
  font-weight: bold;
  font-feature-settings: "palt" 1;
  letter-spacing: -1px;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-feature-settings: "palt" 1;
  color: #5C5A5A;
  white-space: initial;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_70 {
  margin-top: 70px;
}

header {
  box-shadow: 0px 6px 7px 0px rgba(178, 178, 178, 0.45);
}

.inner {
  position: relative;
  width: 98vw;
  box-sizing: border-box;
  margin: auto;
  padding-top: 38px;
  height: 125px;
}

header h1 {
  width: 249px;
  height: 60px;
  padding-left: 2vw;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80px;
  z-index: 1;
}

nav ul {
  text-align: right;
  padding-right: 2vw;
}

nav li {
  display: inline-block;
  position: relative;
  height: inherit;
  padding-right: 2vw;
}

nav li a {
  display: table;
  padding: 3px 15px 3px 0;
  /* padding: 3px 10px; */
  vertical-align: middle;
  line-height: 80px;
  color: #333333;
  font-size: 14.5px;
  /* font-size: 15px; */
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

nav li img {
  width: auto;
}

.header_bottom {
  display: block;
  line-height: 5px;
}

.nav_parent {
  position: relative;
}

.nav_child {
  position: absolute;
  top: 5px;
}

.child01 {
  left: 90px;
}

.child02 {
  left: 162px;
}

.top_title {
  width: 100%;
  position: relative;
}

.top_title_img {
  width: 100%;
}

.top_title_text {
  position: absolute;
  top: 26%;
  left: 15%;
  color: #112E53;
}
.top_title_text h1 {
  font-size: 35px;
}

.title_lg {
  font-size: 80px;
}

.title_md {
  font-size: 40px;
}

.top_title_info {
  position: absolute;
  width: 802px;
  height: 135px;
  bottom: 31%;
  right: -16px;
}

.top_sub {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  width: 92%;
  margin-top: 34px;
}

td {
  border: none;
  border-bottom: 1px solid #94aab4;
  padding: 17px 12px;
}

tr:first-child td {
  border-top: 1px solid #94aab4;
}

main .clinic_title {
  margin-bottom: 8.0729166667vw;
}
main .clinic_title img {
  width: 100%;
}
main .clinic_main {
  width: 66.6666666667vw;
  margin: auto;
  margin-bottom: 170px;
}
main .clinic_main .title {
  margin-bottom: 94px;
}
main .clinic_main .title p {
  font-size: clamp(9px, 0.938vw, 18px);
  color: #112e53;
  margin: 0;
  font-family: "Mplus1p", sans-serif;
  letter-spacing: 3px;
  font-feature-settings: "palt";
}
main .clinic_main .title h1 {
  margin-top: 0;
  font-size: clamp(20px, 2.083vw, 40px);
  padding-bottom: 33px;
  border-bottom: 1px solid #112e53;
  color: #112e53;
  font-family: "Mplus1p", sans-serif;
  font-feature-settings: "palt";
}
main .clinic_main .clinic_feature {
  display: flex;
}
@media screen and (min-width: 1020px) {
  main .clinic_main .clinic_feature {
    flex-direction: column;
  }
}
main .clinic_main .clinic_feature .clinic_left {
  margin-right: 94px;
}
main .clinic_main .clinic_feature .clinic_left img {
  width: 100%;
}
main .clinic_main .clinic_feature .clinic_right {
  width: 36.4583333333vw;
}
main .clinic_main .clinic_feature .clinic_right h2 {
  font-size: clamp(14px, 1.458vw, 28px);
  color: #112e53;
  font-family: "Mplus1p", sans-serif;
  font-feature-settings: "palt";
  margin-left: -8px;
  margin-top: -7px;
  letter-spacing: 2px;
}
main .clinic_main .clinic_feature .clinic_right p {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
  font-feature-settings: "palt";
  margin-left: 25px;
  letter-spacing: 5px;
  margin-top: 26px;
}
main .clinic_main .clinic_feature .clinic_right table tr .c_title {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table tr .c_circle {
  font-size: clamp(10px, 1.042vw, 20px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table tr td {
  text-align: center;
  font-size: clamp(9px, 0.938vw, 18px);
  color: #4b7282;
}
main .clinic_main .clinic_feature .clinic_right table td:first-child {
  padding: 18px;
  letter-spacing: 1px;
}
main .clinic_main .clinic_feature .clinic_right .holiday {
  font-size: clamp(7px, 0.729vw, 14px);
  margin-top: 15px;
  margin-left: 50px;
  letter-spacing: 3px;
}
main .clinic_main .clinic_tel {
  margin-top: 50px;
}
main .clinic_main .clinic_tel p {
  font-size: 23px !important;
  color: #4b7282;
  font-feature-settings: "palt";
  letter-spacing: 4px !important;
  line-height: 1.6 !important;
}
main .clinic_main .clinic_map {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  width: 50vw;
}
main .clinic_main .clinic_map p {
  margin-right: 53px;
  margin-top: -9px !important;
  letter-spacing: -1px !important;
}/*# sourceMappingURL=style.css.map */