@use "../global" as g;

.clinic_title_text01 {
  width: 100%;
  margin: auto;
  display: block;
}

.clinic_main {
  width: g.vw-pc(1180);
  margin: auto;
  padding-top: 15px;
  border-bottom: dotted #4b7282 5px;
  margin-bottom: 1px;
  @include g.respond-to("xl") {
    width: 80%;
  }
  @include g.respond-to("md") {
    width: 90%;
  }
}

.clinic_top_wrap {
  width: fit-content;
  margin: auto;
  img {
    @include g.respond-to("md") {
      width: 100%;
    }
  }
}

.clinic_main_1 {
  padding-top: 108px;
}

.clinic_main_2 {
  display: flex;
  margin: auto;
  padding-top: 24px;
  width: g.vw-pc(1000);
  @include g.respond-to("xl") {
    width: 100%;
  }
}

.clinic_main_3 {
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 32px;
  width: g.vw-pc(1021);
  margin: auto;
  color: #112e53;
  font-family: "Yu Gothic", sans-serif;
  padding-left: 18px;
  @include g.respond-to("xl") {
    width: 80%;
  }
  @include g.respond-to("md") {
    width: 100%;
    white-space: normal;
    padding-left: 0px;
  }

  // margin-left: 31.5%;
}

.clinic_main_4 {
  // overflow: hidden;
  margin-top: 0px;
  margin: auto;
  color: #112e53;
  width: g.vw-pc(1021);
  margin-bottom: 42px;
  padding-left: 18px;
  @include g.respond-to("xl") {
    width: 80%;
  }
  @include g.respond-to("md") {
    width: 100%;
    padding-left: 0px;
  }
}

.clinic_main_4_1 {
  font-size: 18px;
  letter-spacing: -0.4px;
  font-family: g.$font-m1;
  color: #112e53;
  width: fit-content;
  background: linear-gradient(transparent 70%, #d5edf3 50%);
  display: inline;
  padding: 0px 1px !important;
  font-weight: 600;
  @include g.respond-to("md") {
    line-height: 2;
    font-size: 16px;
  }
}

.clinic_main_4_2 {
  font-size: 18px;
  letter-spacing: -0.8px;
  background: linear-gradient(transparent 70%, #d5edf3 50%);
  display: inline-block;
  margin-top: -8px;
  font-family: g.$font-m1;
  color: #112e53;
  width: fit-content;
}

.clinic_feature {
  width: g.vw-pc(1021);
  margin: auto;
  margin-top: 48px;
  @include g.respond-to("xl") {
    width: 80%;
  }
  @include g.respond-to("md") {
    width: 90%;
  }
}

.clinic_feature_1_1 {
  background-color: #0b7eb8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding-left: 30px;
}

.clinic_feature_1_2 {
  font-size: 26px;
  padding-left: 50px;
  margin-top: -35px;
  color: #112e53;
  font-family: g.$font-m1;
  white-space: normal;
}

.clinic_feature_2 {
  font-size: 18px;
  letter-spacing: -0.5px;
  padding-top: 24px;
  padding-bottom: 60px;
  margin: auto;
  line-height: 30px;
  width: g.vw-pc(1021);
  color: #112e53;
  font-family: g.$font-m1;
  @include g.respond-to("xl") {
    width: 100%;
  }
  @include g.respond-to("md") {
    padding-bottom: 30px;
    font-size: 15px;
  }
}

.clinic_feature_3 {
  width: g.vw-pc(1021);
  font-size: g.fontSize-pc(26, 20);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  @include g.respond-to("xl") {
    width: 100%;
  }
  @include g.respond-to("md") {
    flex-direction: column;
  }
}

.clinic_feature_3_1 {
  color: white;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 5px;
  width: g.vw-pc(490);
  height: 77px;
  font-size: g.fontSize-pc(26, 18);
  font-family: g.$font-m1;
  font-weight: 600;
  text-align: center;
  line-height: 77px;
  background-color: #0b7eb8;
  box-sizing: border-box;
  @include g.respond-to("xl") {
    width: 45%;
    font-size: g.fontSize-pc(26, 16);
  }
  @include g.respond-to("md") {
    width: 100%;
    font-size: 15px;
    height: inherit;
    padding: 20px 0;
    line-height: inherit;
  }
}

.clinic_feature_4 {
  margin: auto;
  display: block;
  margin-top: 148px;
  width: g.vw-pc(900);
  @include g.respond-to("md") {
    margin-top: 30px;
  }
  @include g.respond-to("xl") {
    width: 100%;
  }
}

.clinic_feature_5 {
  font-size: 18px;
  padding-top: 75px;
  padding-left: 46px;
  padding-bottom: 30px;
  width: fit-content;
  font-family: g.$font-m1;
  color: #112e53;
  font-weight: 600;
  margin: auto;
  width: g.vw-pc(884);
  @include g.respond-to("md") {
    padding-left: 3%;
  }
  @include g.respond-to("xl") {
    width: 100%;
  }
}

.clinic_feature_6 {
  width: g.vw-pc(884);
  margin: auto;
  display: block;
  padding-bottom: 125px;
  @include g.respond-to("xl") {
    width: 100%;
  }
  @include g.respond-to("md") {
    width: 100%;
    padding-bottom: 50px;
    display: none;
  }
}

.clinic_feature_6_2 {
  display: none;
  @include g.respond-to("md") {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
}

.clinic_area {
  padding-top: 85px;
  padding-bottom: 74px;
  background-color: paleturquoise;
}

.clinic_area_1 {
  margin: auto;
  display: block;
}

.clinic_area_2 {
  font-size: 18px;
  letter-spacing: 2.5px;
  margin: auto;
  // display: block;
  text-align: center;
  margin-top: 30px;
}

.clinic_area_3 {
  width: 1080px;
  height: 332px;
  border: 2px solid cornflowerblue;
  margin: auto;
  background-color: #fbf9f9;
}

.clinic_area_3_2 {
  font-size: 20px;
  margin-top: 20px;
}

.clinic_area_3_3 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -1px;
  margin-top: 35px;
}

.clinic_area_3-4 {
  font-size: 24px;
}

.clinic_area_3 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}

.clinic_area_4 {
  margin-left: 142px;
}

.c_area {
  background-color: #f2f4fb;
}

.area_text {
  p {
    font-size: 18px;
    font-family: g.$font-m1;
    font-weight: 600;
    color: #112e53;
    margin-top: 43px;
    margin-bottom: 57px;

    @include g.respond-to("md") {
      font-size: 14px;
      text-align: left;
      width: 90%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
.top_area_box_right_up2 {
  font-size: clamp(17px, 1.094vw, 20px);
  font-family: g.$font-m1;
  color: #0b7eb8;
  margin-bottom: 23px;
  white-space: normal;
}

.top_area_box_right_mid2 {
  font-size: clamp(16px, 1.042vw, 18px);
  line-height: 1.6;
  color: #112e53;
  margin-bottom: 20px;
}

.area_color {
  background: #fff;
}

.top_area_box_right2 {
  margin-top: 35px;
}

.clinic_feature_3_2 {
  letter-spacing: -1px;
}

.clinic_map p {
  margin-bottom: 15px;
}

.top_area_box_right_mid2 {
  span {
    margin-left: 9px;
  }
}

.c_text_furi {
  margin: 0;
  margin-left: 229px;
  font-size: 12px;
  color: #112e53;
  margin-bottom: -5px;
}

.form_button_wrap {
  width: fit-content;
  margin: auto;
  @include g.respond-to("sm") {
    width: 90%;
  }

  img {
    margin-top: 90px;
    margin-bottom: 90px;
    @include g.respond-to("sm") {
      width: 100%;
    }
  }
}
