@use "../global" as g;

.entry_form {
  width: g.vw-pc(875);
  margin: auto;
  @include g.respond-to("xl") {
    width: 80vw;
  }
  @include g.respond-to("md") {
    width: 90vw;
  }

  .entry_top {
    width: fit-content;
    margin: auto;
    margin-top: 95px;
    margin-bottom: 95px;
  }

  .entry_top2 {
    width: auto;
    margin-right: auto;
    padding-bottom: 29px;
    border-bottom: 1px solid #4b7282;
    margin-bottom: 47px;
  }

  .form_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    @include g.respond-to("md") {
      align-items: flex-start;
      flex-direction: column;
    }

    .form_text1 {
      width: 300px;
      height: 36px;
      font-size: 13px;
      color: #112e53;
      font-family: "Yu Gothic", sans-serif;

      p {
        font-size: 13px;
        color: #112e53;
        margin: 0;
      }
      span {
        font-size: 11px;
        border: #4b7282 1px solid;
        color: #4b7282;
        padding: 3px 5px;
      }
    }
    .form_text2 {
      width: 100%;
      font-size: 13px;
      vertical-align: middle;
      font-family: "Yu Gothic", sans-serif;
    }

    .gender {
      input[type="radio"] {
        width: 12px;
        height: 12px;
        border-radius: 100px;
        position: relative;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: 0;
      }
      input[type="radio"]::before,
      input[type="radio"]::after {
        content: "";
        display: block;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }
      input[type="radio"]::before {
        background-color: #fff;
        border: 1px solid #112e53;
        height: 12px;
        width: 12px;
        left: 0px;
      }
      input[type="radio"]::after {
        background-color: #112e53;
        opacity: 0;
        height: 8px;
        width: 8px;
        left: 3px;
      }
      input[type="radio"]:checked::after {
        opacity: 1;
      }
    }

    .age input {
      width: 70px !important;
    }
    .gender input {
      width: fit-content !important;
    }
    .address_num input {
      width: 231px !important;
    }

    .form_big input {
      width: 100% !important;
    }
    .form_big textarea {
      width: 100% !important;
      border: 1px solid #99a6aa !important;
      background-color: #f2f4fb;
    }

    .form_text2 input {
      width: 285px; /* ボックスの幅を調整します。 */
      height: 36px; /* ボックスの高さを調整します。 */
      font-size: 13px; /* 文字の大きさを調整します。 */
      border: 1px solid #99a6aa;
      background-color: #f2f4fb;
      @include g.respond-to("md") {
        width: 100%;
      }
    }
  }

  .p_p {
    input[type="checkbox"] {
      width: 20px;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    /* チェックボックスデザイン */
    input[type="checkbox"] {
      cursor: pointer;
      padding-left: 30px; /*label手前にチェックボックス用の余白を開ける*/
      vertical-align: middle;
      position: relative;
    }
    input[type="checkbox"]::before,
    input[type="checkbox"]::after {
      content: "";
      display: block;
      position: absolute;
    }
    input[type="checkbox"]::before {
      background-color: #fff;
      border-radius: 0%;
      border: 1px solid #666464;
      width: 11px; /*チェックボックスの横幅*/
      height: 11px; /*チェックボックスの縦幅*/
      transform: translateY(-50%);
      top: 50%;
      left: 5px;
    }
    input[type="checkbox"]::after {
      border-bottom: 3px solid #666464; /*チェックの太さ*/
      border-left: 3px solid #666464; /*チェックの太さ*/
      opacity: 0; /*チェック前は非表示*/
      height: 5px;
      width: 11px;
      transform: rotate(-45deg);
      top: 10px;
      left: 7px;
    }
    input[type="checkbox"]:checked::after {
      opacity: 1; /*チェック後表示*/
    }
  }

  .form_area {
    display: flex;
    align-items: flex-start;
  }
  select[name="work"] {
    width: 80%;
    height: 36px;
    font-size: 13px;
    border-color: #99a6aa;
  }

  .sent {
    display: flex;
    align-items: center;

    input {
      width: 300px !important;
      height: 70px !important;
      color: #fff !important;
      background-color: #54a5cd !important;
      margin: 0 !important;
      padding-left: 44px !important;
      letter-spacing: 1px !important;
      border: none !important;
    }
  }
  .form_text2 {
    .submit-button {
      display: inline-flex;
      height: 70px;
      align-items: center;
      background-color: #0b7eb8; /* 追加した行 */
      padding: 23px 28px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      position: absolute;
    }

    .dli-chevron-round-right {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      line-height: 1;
      position: relative;
      width: 12px;
      height: 12px;
      transform: translateX(-25%) rotate(45deg);
      background-color: #0b7eb8;
      margin-right: 10px; /* Adjust according to your needs */
    }

    .dli-chevron-round-right::before,
    .dli-chevron-round-right::after {
      content: "";
      position: absolute;
      background: currentColor;
      border-radius: 0.1em;
    }

    .dli-chevron-round-right::before {
      top: 0;
      left: 0;
      right: 0;
      height: 0.1em;
    }

    .dli-chevron-round-right::after {
      top: 0;
      right: 0;
      bottom: 0;
      width: 0.1em;
    }
  }
}
