@use "../global" as g;

.br_none {
  display: block;
  @include g.respond-to("sm") {
    display: none;
  }
}

.top_infomation {
  display: flex;
  width: 56%;
  margin: auto;
  justify-content: space-between;
  min-width: 1080px;
  @include g.respond-to("xl") {
    display: flex;
    flex-direction: column;
    min-width: auto;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  @include g.respond-to("md") {
    display: flex;
    flex-direction: column;
    min-width: auto;
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .top_information01 {
    margin-top: 85px;
    @include g.respond-to("md") {
      margin-top: 0;
    }

    p {
      font-size: 18px;
      color: black;
      margin-top: 42px;
      line-height: 2;
      @include g.respond-to("md") {
        font-size: 16px;
      }
    }
    img {
      @include g.respond-to("md") {
        width: 90%;
        max-width: 338px;
      }
    }
  }
  .top_information02 {
    img {
      width: 100%;
    }
  }
}

.family_title {
  font-size: 30px !important;
  @include g.respond-to("xl") {
    font-size: 20px !important;
  }
}

.family_top {
  h2 {
    font-size: 40px !important;
    @include g.respond-to("xl") {
      font-size: 30px !important;
    }
  }
}

.family_top2 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 82px;
  @include g.respond-to("md") {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  img {
    @include g.respond-to("md") {
      width: 100%;
    }
    @include g.respond-to("sm") {
      width: 100%;
      object-fit: cover;
      height: 20px;
    }
  }
  p {
    font-size: 20px;
    color: black;
    @include g.respond-to("md") {
      font-size: 14px;
    }
  }
}

.family_top3 {
  text-align: center;
  width: 1200px;
  margin: auto;
  padding: 30px 60px 60px 30px;
  background-color: #dfe1e8;
  border-radius: 40px;
  margin-bottom: 240px;

  @include g.respond-to("xl") {
    width: 100%;
  }
  @include g.respond-to("md") {
    padding: 40px 5%;
    margin-bottom: 100px;
  }

  h3 {
    font-size: 28px;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: normal;
    white-space: normal;
    margin-bottom: 47px;

    @include g.respond-to("md") {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
  img {
    width: 90%;
    @include g.respond-to("lg") {
      width: 100%;
      max-width: 500px;
      margin: auto;
    }
  }
}

.family_top4 {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    height: 580px;
    @include g.respond-to("lg") {
      height: auto !important;
    }
  }
}

.profile_top0 {
  width: 42%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 94px;
  min-width: 770px;
  @include g.respond-to("md") {
    width: 90%;
    height: auto;
    flex-direction: column;
    min-width: inherit;
    margin-top: 10px;
  }

  .profile_top1 {
    border-radius: 24px;
    border: #000 solid 1px;
    padding: 32px 40px;
    width: 376px;
    height: max-content;

    @include g.respond-to("md") {
      width: auto;
      margin-bottom: 30px;
    }
    @include g.respond-to("sm") {
      padding: 23px 2.5%;
    }
    h3 {
      font-size: 24px;
      color: #112e53;
      text-align: center;
      font-family: g.$font-yu;
      font-weight: normal;
      margin-top: 0px;
    }
    p {
      color: #000;
      font-size: 13px;
      line-height: 1.9;
      min-width: 300px;
      margin-bottom: 0;

      @include g.respond-to("md") {
        margin: 0 10px;
      }
    }
    span {
      margin-right: 26px;
      width: 40px;
      display: inline-block;
    }
    .pro_span {
      margin-right: 25px !important;
      display: inline-block;
      width: 40px;
    }
  }
  .profile_top2 {
    border-radius: 24px;
    border: #112e53 solid 1px;
    padding: 32px 40px;
    width: 376px;
    height: max-content;

    @include g.respond-to("md") {
      width: auto;
    }
    @include g.respond-to("sm") {
      padding: 23px 2.5%;
    }
    h3 {
      font-size: 24px;
      color: #112e53;
      text-align: center;
      font-family: g.$font-yu;
      font-weight: normal;
      margin-top: 0px;
    }
    p {
      color: #000;
      font-size: 13px;
      line-height: 1.9;
      margin-bottom: 0;

      @include g.respond-to("md") {
        margin: 0 20px;
      }
    }
  }
}

.wrapper {
  max-width: auto;
  width: 80%;
  margin: auto;
  max-width: 270px;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
}
.test__container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.test__title {
  color: #fff;
  background-color: #000;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.test__box {
  position: relative;
  max-width: auto;
  width: 90%;
  margin: auto;
  max-width: 270px;
  margin-top: 15px;

  a {
    color: #000 !important;
    font-size: 13px;
  }
  a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 105px;
    height: 1px;
    background: #000000;
    bottom: -1px; /*アンダーラインがaタグの下端から現れる*/
    transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 0.5s; /*変形の時間*/
  }

  a:hover::after {
    transform: scale(1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

.test__box2 {
  a {
    color: #000 !important;
    font-size: 13px;
  }
  a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 163px;
    height: 1px;
    background: #000000;
    bottom: -1px; /*アンダーラインがaタグの下端から現れる*/
    transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 0.5s; /*変形の時間*/
  }

  a:hover::after {
    transform: scale(1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

.test__box3 {
  a {
    color: #000 !important;
    font-size: 13px;
  }
  a::after {
    position: absolute;
    left: 0;
    content: "";
    width: 105px;
    height: 1px;
    background: #000000;
    bottom: -1px; /*アンダーラインがaタグの下端から現れる*/
    transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 0.5s; /*変形の時間*/
  }

  a:hover::after {
    transform: scale(1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

.md_none {
  display: none;
  @include g.respond-to("lg") {
    display: block;
  }
}

.pc_img {
  @include g.respond-to("lg") {
    display: none;
  }
}

.family_con {
  h2 {
    padding-top: 290px !important;
  }
  p {
    line-height: 1.5 !important;
  }
  img {
    @include g.respond-to("md") {
      object-fit: contain !important;
    }
  }
}

.test03 {
  margin-top: 38px;
}

.nav_parent02 {
  width: 170px !important;
  bottom: 0px !important;
}

.fa_header {
  li {
    margin-top: 30px !important;
  }
}

.footer_center_family {
  nav {
    width: 72% !important;
    @include g.respond-to("md") {
      top: 132px !important;
    }
  }
}

.nav_child_family {
  @include g.respond-to("md") {
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.fa_top_profile_box01 img {
  @include g.respond-to("md") {
    min-width: none !important;
  }
  @include g.respond-to("sm") {
    width: 100% !important;
  }
}

.profile_name1_fa {
  span {
    letter-spacing: 7px;
    margin-right: 35px;
  }
}

.profile_box_right_fa {
  min-width: 450px;
  @include g.respond-to("md") {
    min-width: inherit;
  }
}

.clinic_top1_fa img {
  width: 54vw !important;
  @include g.respond-to("xxl") {
    width: 100% !important;
    height: 600px;
    object-fit: contain;
    width: 46vw;
  }
  @include g.respond-to("md") {
    width: 100%;
    height: auto;
    object-fit: inherit;
  }
}
