@use "../global" as g;
footer {
  padding-top: 3vw;
}
.footer_inner {
  position: relative;
  border-top: solid 1px #4b7282;
  padding-bottom: 1vw;
  padding-top: 4vw;
  margin-top: 5vw;
}

.footer_upper {
  @include g.respond-to("xl") {
    width: 3%;
  }
}

.footer_upper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer_mid {
  // position: relative;
  display: flex;
  width: 50vw;
  margin: 0 auto;
  @include g.respond-to("xl") {
    width: 80vw;
    margin: auto;
    margin-top: 200px;
    justify-content: space-around;
  }
  @include g.respond-to("md") {
    margin-top: 400px;
    width: 80vw;
  }
  & p {
    color: g.$m-color;
    white-space: normal;
  }
  & a {
    color: g.$m-color !important;
  }
}
.footer_logo {
  position: relative;
  left: -115px;
  @include g.respond-to("xl") {
    left: -190px;
  }
  @include g.respond-to("xl") {
    left: 0px;
    top: -200px;
  }
  @include g.respond-to("md") {
    top: -375px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer_left {
  img {
    @include g.respond-to("xl") {
      width: 300px;
    }
    @include g.respond-to("md") {
      width: fit-content;
    }
  }
}
.footer_lg {
  font-size: 22px;
}

.footer_bottom {
  text-align: center;
}

footer nav ul {
  text-align: center;
}

footer nav {
  position: absolute;
  top: 3vw;
  right: 0;
  width: 80%;
  height: 80px;
  z-index: 1;
  right: -18%;

  @include g.respond-to("xl") {
    right: 0px;
    top: 130px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
footer nav ul {
  text-align: center;
  display: flex;
  @include g.respond-to("xl") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
  }
  @include g.respond-to("md") {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}

footer nav li {
  display: inline-block;
  position: relative;
  height: inherit;
  padding-right: 2vw;
  @include g.respond-to("xl") {
    display: inline-block;
  }
  @include g.respond-to("md") {
    padding-right: 0;
  }
}
footer nav li a {
  display: table;
  padding: 3px 15px 3px 0;
  /* padding: 3px 10px; */
  vertical-align: middle;
  line-height: 80px;
  color: g.$m-color;
  font-size: 14px;
  /* font-size: 15px; */
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  @include g.respond-to("xl") {
    line-height: 40px;
  }
}

footer nav li img {
  width: auto;
}
.hiragino {
  font-family: g.$font-min;
}

.footer_pc {
  @include g.respond-to("xxl") {
    display: none;
  }
}

.contact_footer {
  margin-top: 30px;

  @include g.respond-to("xl") {
    margin-top: 30px;
  }
}

.footer_bottom {
  img {
    @include g.respond-to("md") {
      width: 30vw;
    }
  }
}

.br_none1 {
  display: none;
  @include g.respond-to("md") {
    display: block;
  }
}
