@use "../global" as g;
.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #0b7eb8;
  line-height: 1;
  width: 10px;
  height: 10px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
}

main {
  @function vw($pixel) {
    $viewport: 1920; // 基準となるビューポート
    @return ($pixel / $viewport * 100vw);
  }

  @function fontSize($maxFont) {
    $minWidth: 980;
    $maxWidth: 1920;
    $maxFontSize: $maxFont * 1px;
    $fontVw: round($maxFont/$maxWidth * 100 * 1000) / 1000;
    $minFontSize: round($minWidth * ($fontVw / 100)) * 1px;
    @return clamp(#{$minFontSize}, #{$fontVw}vw, #{$maxFontSize});
  }

  .recruit_title {
    // Add styles for the recruit_title class here
    img {
      width: 100%;
      @include g.respond-to("xl") {
        object-fit: cover;
        height: 150px;
      }
    }
  }

  .recruit_main {
    width: vw(1280);
    display: flex;
    margin: auto;
    margin-top: 93px;
    @include g.respond-to("xl") {
      flex-direction: column;
      width: 80vw;
    }
    @include g.respond-to("md") {
      width: 90vw;
    }

    .recruit_left {
      width: vw(720);
      margin-top: 79px;
      margin-right: vw(233);
      display: grid;
      @include g.respond-to("xl") {
        width: 100%;
      }
      .recruit_text {
        @include g.respond-to("md") {
          width: 100%;
        }
      }

      img {
        margin-bottom: 58px;
        @include g.respond-to("md") {
          width: 50%;
        }
      }
      h1 {
        font-size: 20px;
        background-color: #f2f4fb;
        padding: 23px;
        padding-bottom: 44px;
        padding-right: 58px;
        border-radius: 8px;
        color: #112e53;
        width: fit-content;
        font-family: fot-klee-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: -23px;
        margin-top: -11px;
        line-height: 1.6;
        letter-spacing: 3px;
        @include g.respond-to("xl") {
          margin-left: 0px;
        }
        @include g.respond-to("md") {
          font-size: 16px;
        }
      }
    }
    .recruit_right {
      position: relative;
      width: vw(714);
      @include g.respond-to("xl") {
        margin: auto;
        margin-top: 50px;
        width: 100%;
      }
      img {
        width: 30vw;
        min-width: 350px;
        @include g.respond-to("xl") {
          width: 100%;
          margin: auto;
        }
      }
    }
  }
  .back_img {
    width: 100%;
    z-index: -1;
    margin-top: -132px;
    margin-left: -54px;
    position: relative;
    @include g.respond-to("xl") {
      margin-top: -50px;
    }
    @include g.respond-to("md") {
      margin-top: 0px;
    }
  }

  .recruit_select {
    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    width: vw(1248);
    position: relative;
    @include g.respond-to("xl") {
      width: 90%;
      flex-wrap: wrap;
    }

    .doctor {
      @include g.respond-to("md") {
        width: 50%;
      }
      p {
        font-size: 16px;
        color: #0b7eb8;
        border: solid 1px #0b7eb8;
        padding: 11px 0px 15px 0px;
        width: vw(280);
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        font-family: "m-plus-1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include g.respond-to("xl") {
          width: 20vw;
        }
        @include g.respond-to("md") {
          width: 40vw;
        }
      }
      span {
        // Add styles for the span tag in the doctor class here
      }
    }
    .nurse {
      @include g.respond-to("md") {
        width: 50%;
      }
      p {
        font-size: 16px;
        color: #0b7eb8;
        border: solid 1px #0b7eb8;
        padding: 11px 0px 15px 0px;
        width: vw(280);
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        font-family: "m-plus-1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include g.respond-to("xl") {
          width: 20vw;
        }
        @include g.respond-to("md") {
          width: 40vw;
        }
      }
      span {
        // Add styles for the span tag in the nurse class here
      }
    }
    .medicalclerk {
      @include g.respond-to("md") {
        width: 50%;
      }
      p {
        font-size: 16px;
        color: #0b7eb8;
        border: solid 1px #0b7eb8;
        padding: 11px 0px 15px 0px;
        width: vw(280);
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        font-family: "m-plus-1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include g.respond-to("xl") {
          width: 20vw;
        }
        @include g.respond-to("md") {
          width: 40vw;
        }
      }
      span {
        // Add styles for the span tag in the medicalclerk class here
      }
    }
    .caremanager {
      @include g.respond-to("md") {
        width: 50%;
      }
      p {
        font-size: 16px;
        color: #0b7eb8;
        border: solid 1px #0b7eb8;
        padding: 11px 0px 15px 0px;
        width: vw(280);
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        font-family: "m-plus-1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include g.respond-to("xl") {
          width: 20vw;
        }
        @include g.respond-to("md") {
          width: 40vw;
        }
      }
      span {
        // Add styles for the span tag in the caremanager class here
      }
    }
  }

  .recruit_occupation {
    margin: auto;
    margin-top: 107px;
    width: vw(1276);
    @include g.respond-to("xl") {
      width: 90%;
    }

    .recruit_occupation_box {
      &.doctor {
        // Add styles for the doctor class here
        .title {
          border-bottom: 2px solid #112e53;
          margin-bottom: 26px;
          padding-left: 10px;
          padding-bottom: 23px;

          h2 {
            font-size: 30px;
            color: #112e53;
            font-family: m-plus-1p, sans-serif;
            font-weight: 300;
            font-style: normal;
          }
          p {
            font-size: 18px;
            color: #112e53;
            margin-top: 0;
            font-family: "dunbar-low", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 3.2px;
          }
        }
      }
      &.nurse {
        // Add styles for the nurse class here
        // Similar structure as .doctor can be applied here
      }
      &.medicalclerk {
        // Add styles for the medicalclerk class here
        // Similar structure as .doctor can be applied here
      }
      &.caremanager {
        // Add styles for the caremanager class here
        // Similar structure as .doctor can be applied here
      }
    }
    table {
      border: 1px solid #0b7eb8;
      border-collapse: collapse;
      width: 100%;

      td:first-child {
        color: #0b7eb8;
        background-color: #f2f4fb;
        width: 351px;
        padding-left: 37px;
        font-family: "m-plus-1p", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include g.respond-to("md") {
          padding-left: 15px;
          width: 100px;
        }
      }
      td:nth-child(2) {
        padding-left: 50px;
        font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", "HiraMinProN-W3",
          "Hiragino Mincho ProN", "HG明朝E", serif;
        color: #000;
        @include g.respond-to("xl") {
          white-space: normal;
        }
        @include g.respond-to("md") {
          padding-left: 15px;
          white-space: normal;
        }
      }

      table,
      th,
      td {
        border: 1px solid #0b7eb8;
      }

      tr {
        // Add styles for the tr in the table here
        td {
          height: 63px;
        }
      }
      .big_table {
        height: 122px;
      }
    }
    .form {
      background-color: #54a5cd;
      width: 300px;
      margin: auto;
      margin-top: 56px;
      border-radius: 3px;
      margin-bottom: 120px;

      a {
        display: flex;
        align-items: center;
      }
      .back {
        background-color: #0b7eb8; /* 追加した行 */
        padding: 23px 28px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .dli-chevron-round-right {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        line-height: 1;
        position: relative;
        width: 12px;
        height: 12px;
        transform: translateX(-25%) rotate(45deg);
        background-color: #0b7eb8; /* 追加した行 */
      }

      .dli-chevron-round-right::before,
      .dli-chevron-round-right::after {
        content: "";
        position: absolute;
        background: currentColor;
        border-radius: 0.1em;
      }

      .dli-chevron-round-right::before {
        top: 0;
        left: 0;
        right: 0;
        height: 0.1em;
      }

      .dli-chevron-round-right::after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 0.1em;
      }
      p {
        color: #fff;
        background-color: #54a5cd;
        margin: 0;
        padding-left: 44px;
        letter-spacing: 1px;
      }
    }
  }
}
