@use "../global" as g;

.pp_main {
  width: 66%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 45px;

  @include g.respond-to("xl") {
    width: 80vw;
  }
  @include g.respond-to("sm") {
    width: 90vw;
  }

  .pp_img {
    width: 33%;
    margin: auto;
    margin-bottom: 100px;
    @include g.respond-to("xl") {
      width: 50vw;
    }

    img {
      width: 100%;
      margin: auto;
    }
  }
  .pp_text {
    h2 {
      color: #112e53;
      font-family: "Yu Gothic", sans-serif;
      padding-top: 20px;
      font-weight: bold;
    }
    p {
      color: #000;
      margin-top: 5px;
      line-height: 1.5;
    }
    span {
      width: 90%;
    }
    .pp_s {
      width: 98%;
      white-space: normal;
      margin-left: auto;
    }
  }
}
